{%extends 'layout.html'%}

{%block title%}
 Статистика пользователя
{%endblock%}

{%block content%}

<div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Start time</th>
        <th>End time</th>
        <th> Total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in times %}
    <tr>
        <td>{{item.startTime}}</td>
        <td>{{item.endTime}}</td>
        <td>{{item.get_time_diff}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total</td>
        <td>{{total}} +- (1 hour) </td>
    </tr>
    </tbody>
</table>


{%endblock%}

{%block userScripts%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker-standalone.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />

<script type="text/javascript" src="{% static 'js/moment.min.js'%}" ></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js'%}" ></script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>

{%endblock%}
